*{
    margin:0;
    padding:0;
}
.border
{
    background-color: black;
}
#box1{
    border:30px solid gray;
    width:1200px;
    height:600px;

}
#header img{
    height:70px;

}
#header ul{
    float:right;
    margin-top: 25px;
    margin-left: 10px;
}
#header ul li{
    display:inline;
    margin-right:50px;
    margin-top: 35px;
    
}
#header ul li a{
    color:white;
    text-decoration: none;
    font-size: 15px;
}
#content1
{
    width:50%;
    height:450px;
    background-color:black;
    margin-left: 80px;
    margin-top: 60px;
    float:left;
    font-size:large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
    font-display: 100px;
    font-weight:normal;
    
}
#content1 thicker{
    font-size: larger;
    color:white;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-display: 150px;
    font-weight: 900;
    

}
.section1{
    background-color: black;
    color:white;
    font-size:small;
    
}
.section2{
    background-color: black;
    color:white;
    font-size:small;

}
.section3{
    background-color: black;
    color:white;
    font-size:small;

}
mark{
    background-color: greenyellow;
    color:white;
}
button{
    background-color: greenyellow;
    border:black;
    color:black;
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 6px;
    
}
button box2{
    background-color: black;
    border:white;
    color:white;
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;

}

#content2
{
    width:30%;
    height:300px;
    background-color:black;
    margin-right: 80px;
    margin-top: 60px;
    float:right;
}
#content2 img{
    width:100%;
}
#footer{
    width:200%;
    height:100px;
    
}
